h1 {
  text-align: center;
  color: gold;
}

body {
  background-color: black;
}

p {
  color: gold;
}

footer {
  color: gold;
}

h3 {
  text-align: center;
  color: gold;
}

input {
  color: gold;
}

form {
  color: gold;
}

a {
  color: gold;
}

div {
  color: gold;
}

h4 {
  text-align: center;
  color: gold;
}
