{% extends 'base.html' %} {% block content %}

<h3>Gear Details</h3>

<div class="center-align">
  <div>
    <p>{{ gear.name }}</p>
    <p>Slot: {{ gear.slot }}</p>
    <p>Location: {{ gear.location }}</p>
    <p>Enchantment: {{ gear.enchant }}</p>
    {% for spec in gear.spec_set.all %}
    <p>{{spec.name}}</p>
    {% empty %} {% endfor %}
  </div>
  <div>
    <a
      class="waves-effect blue accent-4 btn-small"
      href="{% url 'gear_update' gear.id %}"
      >Edit</a
    >
    <a
      class="waves-effect blue accent-4 btn-small"
      href="{% url 'gear_delete' gear.id %}"
      >Delete</a
    >
  </div>
</div>
{% endblock %}
