{% extends 'base.html' %}{% load static %}{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>WOW GL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css"
    />
  </head>
  <body>
    <h1>Your Saved BIS Items</h1>
    <hr />
    {% for spec in specs %}
    <p>Name: {{ spec.name }}</p>
    <p>location: {{ spec.description }}</p>
    <a href="/user/{{spec.user.username}}">
      <p>Required by: {{spec.user.username }}</p>
      <a href="{% url 'specs_update' spec.id %}">Update Item</a> |
      <a href="{% url 'specs_delete' spec.id %}">DELETE This Spec</a>
    </a>
    <hr />
    {% endfor %}
  </body>
</html>
{% endblock %}
