{% extends 'base.html' %}{% load static %}{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>WOW GL</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css"
    />
  </head>
  <body>
    <h1>Your Saved Characters and Specs</h1>
    <hr />
    {% for spec in specs %}
    <a href="/specs/{{spec.id}}">{{ spec.character }}</a>
    <p>Spec: {{spec.name}}</p>
    <p>Note: {{ spec.description }}</p>
      <a href="{% url 'specs_update' spec.id %}">Update Spec</a> |
      <a href="{% url 'specs_delete' spec.id %}">Remove This Spec</a>
    </a>
    <hr />
    {% endfor %}
  </body>
</html>
{% endblock %}
