<h1>{{ spec.name }}</h1>
<form action="{% url 'assoc_spec_gear' %}" method="post">
  {% csrf_token %}
  <label for="character">Character</label>
  <input name="character" type="text" />
  <label for="name">Gear Name</label>
  <input name="name" type="text" />
  <label for="slot">Slot</label>
  <input name="slot" type="text" />
  <label for="location">Location</label>
  <input name="location" type="text" />
  <label for="enchant">Enchantment</label>
  <input name="enchant" type="text" />
  <input name="spec_id" type="hidden" value="{{ spec.id }}" />
  <input type="submit" value="Submit" />
</form>
